<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar</title>
    <link rel="icon" href="../Assets/IconePag.png">
    <link rel="stylesheet" href="buy.css">
<style>

.titulo{
    color: rgb(236, 78, 78); 
    background-color: black; 
    text-align: center;
    width: 100%; 
    height: auto;
}
.corpo{
    border-radius:5px;
    background-color: brown;
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid black;
}
td{
    border: 3px solid black;
    max-height:90px;
    max-width:50px;
    color:black;
    font-weight: bold;
}

img{
    margin-bottom:-10px;
    margin-left:-6px;
    width:125px;
    height:110px;
}

</style>

</head>

<!-- HTML -->

<body style="background-color: rgb(84, 88, 88);">
 
    <div class="titulo">
        <p style="font-size: 30px;">
            Bem vindo à aba compras!
        </p>
    </div>

    <a href="/">
        <button style="background-color: black; border-radius: 10px; margin-top: 10px; margin-bottom:10px;">
            <p style="color: rgb(255, 255, 255);">
            Voltar para o menu
            </p>
        </button>
    </a>

    <table class="corpo" >

        <tr>
                    
            <td>
                Casas 
            </td>
            <td >     
                Metragem
            </td>
            <td >                        
                Localização                   
            </td>
            <td>                             
                Dormitórios
            </td> 
            <td>
                Suites
            </td>
            <td>
                Banheiro
            </td>
            <td>
                Garagem
            </td>
            <td>
                Preço
            </td>
            <td>
                Preço<br>
                 do <br>
                condomínio
            </td>
            <td>
                Desconto
            </td>

        </tr>          

            <% Casa.all.each do |casa|%>
                <tr>
                    <td class="image">
                        <a href="/_buy/casa">
                            <img src="assets/paisagem1.jpg">
                        </a>
                    </td>
                    <td >
                        <%= casa.metragem %>m²
                    </td>
                    <td >
                        <%= casa.local %>
                    </td>
                    <td>
                        <%= casa.dormitorios %>
                    </td>
                    <td>
                        <%= casa.suites %>
                    </td>
                    <td>
                        <%= casa.banheiro %>
                    </td>
                    <td>
                        <%= casa.garagem %>
                    </td>
                    <td>
                        R$<%= casa.preco %>
                    </td>
                    <td>
                        R$<%= casa.condominio %>
                    </td>
                    <td>
                        <%= casa.desconto_num %>%
                    </td>

                </tr>
  
            <%end%>
        </table>

    
</body>
</html>