<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar</title>
    <link rel="icon" href="../Assets/IconePag.png">
    <link rel="stylesheet" href="buy.css">
<style>

.titulo{
    color: rgb(236, 78, 78); 
    background-color: black; 
    text-align: center;
    width: 100%; 
    height: auto;
}
.corpo{
    border-radius:5px;
    background-color: brown;
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid black;
}
td{
    border: 3px solid black;
    max-height:90px;
    max-width:50px;
    color:black;
    font-weight: bold;
}

img{
    margin-bottom:-10px;
    margin-left:-6px;
    max-width:104px;
    height:90px;
}

</style>

</head>

<!-- HTML -->

<body style="background-color: rgb(84, 88, 88);">
 
    <div class="titulo">
        <p style="font-size: 30px;">
            Bem vindo à aba aluga-se!
        </p>
    </div>

    <a href="/">
        <button style="background-color: black; border-radius: 10px; margin-top: 10px;margin-bottom:10px;">
            <p style="color: rgb(255, 255, 255);">
            Voltar para o menu
            </p>
        </button>
    </a>     




    <table class="corpo">

        <tr>
                    
            <td>
                Casa
            </td>
            <td >     
                Metragem
            </td>
            <td >                        
                Localização                   
            </td>
            <td>                             
                Quartos
            </td> 
            <td>
                Suites
            </td>
            <td>
                Banheiros
            </td>
            <td>
                Garagem
            </td>
            <td>
                Cozinha
            </td>
            <td>
                Salas
            </td>
            <td>
                Preço
            </td>
            <td>
                Preço<br>
                 do <br>
                condomínio
            </td>
            <td>
                Desconto
            </td>
        </tr>                   
           
        <% CasaAlugar.all.each do |casa_alugar| %>

                <tr>
                    <td class="image">
                        <a href="/_buy/casa">
                            <img src="assets/paisagem3.jpg">
                        </a>
                    </td>
                    <td >
                        <%= casa_alugar.metragem %>m²
                    </td>
                    <td >
                        <%= casa_alugar.local %>
                    </td>
                    <td>
                        <%= casa_alugar.quartos %>
                    </td>
                    <td>
                        <%= casa_alugar.suites %>
                    </td>
                    <td>
                        <%= casa_alugar.banheiros %>
                    </td>
                    <td>
                        <%= casa_alugar.garagem %>
                    </td>
                    <td>
                        <%= casa_alugar.cozinhas %>
                    </td>
                    <td>
                        <%= casa_alugar.salas%>
                    </td>
                    <td>
                        R$<%= casa_alugar.preco %>
                    </td>
                    <td>
                        R$<%= casa_alugar.condominio %>
                    </td>
                    <td>
                        <%= casa_alugar.desconto %>%
                    </td>
                </tr>

            <%end%>


    

</body>
</html>